.wrapper {
   --search-height: 46px;
   --search-button-width: 52px;
   height: var(--default-layout-header-height);
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   width: 100%;
   display: flex;
   justify-content: center;
   .content {
      width: var(--default-layout-header-width);
      height: 100%;
      padding: 0 var(--default-layout-header-horizontal-spacer);

      // background-color: #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}
.search,
.search-result {
   width: 361px;
}

.search {
   position: relative;
   display: flex;
   align-items: center;
   padding: 0 16px;
   background: rgba(22, 24, 35, 0.06);
   border-radius: 92px;
   overflow: hidden;
   z-index: 1;
   height: var(--search-height);
   border: 1.5px solid transparent;
   input {
      flex: 1;
      font-size: 1.6rem;
      line-height: 22px;
      // padding: 12px 0;
      padding-right: 0;
      background: transparent;
      // width: 292px;
      color: var(--black);
      caret-color: rgba(254, 44, 85, 1);
   }
   input:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35, 0.75);
   }

   input:focus-within ~ .search {
      border: 1.5px solid rgba(22, 24, 35, 0.2);
   }
   &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: calc(var(--search-height) - 18px);
      top: 9px;
      right: var(--search-button-width);
      background: rgba(22, 24, 35, 0.12);
   }
   .clean,
   .loading {
      position: absolute;
      color: rgba(22, 24, 35, 0.35);
   }
   .clean {
      font-size: 1.6rem;
      right: calc(var(--search-button-width) + 16px);
      top: 50%;
      transform: translateY(-50%);
   }
   .loading {
      display: none;
   }
   .search-btn {
      font-size: 1.8rem;
      /* padding: 11px 16px 11px 12px; */
      /* margin: -12px -16px; */
      margin-right: -16px;
      height: 100%;
      width: var(--search-button-width);
      cursor: pointer;
      background: transparent;
      margin-left: 0;
      color: rgba(22, 24, 35, 0.34);
      &:hover {
         background: rgba(22, 24, 35, 0.03);
      }
      &:active {
         background: rgba(22, 24, 35, 0.06);
      }
   }
}
.search-result {
   .search-title {
      font-size: 1.6rem;
      font-weight: 700;
      color: rgba(22, 24, 35, 0.5);
      height: 30px;
      padding: 6px 12px;
   }
}
// action
.action {
   display: flex;
   align-items: center;
}
.more-btn {
   font-size: 2rem;
   margin-left: 16px;
   background-color: transparent;
   padding: 4px 8px;
   cursor: pointer;
}
.action-btn {
   background-color: transparent;
   font-size: 2.2rem;
   color: #161823;
   padding: 4px 8px;
   margin: 0 4px;
   cursor: pointer;
}
.user-avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer;
}
